<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LearningODP.NET.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=ORCL;PASSWORD=20071986;PERSIST SECURITY INFO=True;USER ID=SCOTT"
            providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
</configuration>